<header class="header">
  <div class="header__container">
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" [routerLink]="['movie-list']">Movie list</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" [routerLink]="['home']">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" [routerLink]="['watch-later-list']"
            >Watch later movie</a
          >
        </li>
        <li class="menu__item">
          <a class="menu__link" [routerLink]="['favorite']">Favorites</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
